<div class="row">
<div class="col-md-offset-4 col-md-4">
<h1> Добро пожаловать </h1>
<% if signed_in? %>
	<h1><%= "#{@user.personaldoc.first_name} #{@user.personaldoc.second_name} #{@user.personaldoc.third_name}!" %> </h1>
<% else %>
	<p> Для дальнейшей работы необходимо войти или зарегистрироваться и заполнить формы.</p>
<% end %>
</div>
</div>