<div class="row">
<div class="col-md-offset-4 col-md-4">
<p> Нажмите на кнопку для заполнения документов </p>
<%= link_to "Заполнить анкету", new_identify_path, class:"btn btn-primary" %>
</div>
</div>